@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Electrolize&family=Sriracha&display=swap');

.AP_Main_Div{
  width: 100vw;
  height: 100vh;
}

.AP_Background_Img{

  width: 100vw;
  height: 100vh;

  
  z-index: -2;
  left: 0;
  top: 0;
  position: fixed;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.AP_Back_Svg{
  
  z-index: -1;
  
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  
}

.AP_Rect_Svg{
  fill: #A6051A;
  opacity: 0.8;
  filter: blur(5px);
  backdrop-filter: blur(40px);
}


.AP_Background_Div{

  padding: 3%;
  width: 89vw;
  height: 80vh;
  border-radius: 15mm;
  color: #FFFFFF;
  
  z-index: 1;
  opacity: 0.8;
}


.AP_Info_Tittle{
  margin-bottom: 1%;

  font-size: 2rem;
  font-variant: normal;
  font-family: "Audiowide", serif;
}

.AP_Info_Text{
    
  text-align: left;
  font-size: 1.2rem;
  font-variant: normal;
  font-weight: 500;
  font-family: "Audiowide", serif;
}