@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Electrolize&family=Sriracha&display=swap');


.HP_Main_Div{
  width: 100vw;
  height: 100vh;
  position: fixed;
  
  display: flex;
  flex-direction: row;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}


.HP_Background_Image{
  
  width: 100vw;
  height: 100vh;
  
  z-index: -1;
  left: 0;
  top: 0;
  position: fixed;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.HP_Blur_Div {

  width: 30%;
  height: 100%;
  padding-top: 23%;
  padding-right: 0.1%;

  backdrop-filter: blur(40px);
  background: rgb(0 0 0/12%);

  -webkit-mask: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
  -webkit-mask-clip: text, padding-box;
  -webkit-mask-composite: xor; 
  -webgit-mask-composite: exclude;
  
  text-align: right;
  font-weight: 1000;
  font-variant: normal;
  font-family: "Audiowide", serif;
  font-size: clamp(4rem, 8vw, 10rem);
}

.HP_Righ_Div{
  width: 70%;
  height: 100%;


  display: flex;
  flex-direction: column;
}

.HP_Right_Title_Span{
  padding-top: 40%;
  padding-left: 0.1%;


  color: #fff;
  font-size: clamp(4rem, 8vw, 10rem);
  font-weight: 1000;
  font-variant: normal;
  font-family: "Audiowide", serif;
}

.HP_Right_Text_Span{

  margin-top: auto;
  margin-left: auto;
  padding-bottom: 2vh;
  padding-right: 3vw;

  color: #ffffff;
  font-size: 1.2rem;  
  font-weight: 600;
  font-variant: normal;
  font-family: "Electrolize", serif;
}

@media screen and (max-width: 1024) {
  .HP_Blur_Div {
    padding-top: 40%;
  }
  
  .HP_Right_Title_Span {
    padding-top: 50%;
  }
}

@media screen and (max-width: 720) {
  .HP_Blur_Div {
    width: 50% ;
    padding-top: 50%;
  }
  
  .HP_Right_Title_Span {
    padding-top: 60%;
  }
}