@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Electrolize&family=Sriracha&display=swap');


.HP_Main_Div{
  width: 100vw;
  height: 100vh;
  position: fixed;
  
  display: flex;
  flex-direction: row;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}


.HP_Background_Image{
  
  width: 100vw;
  height: 100vh;
  
  z-index: -1;
  left: 0;
  top: 0;
  position: fixed;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.HP_Blur_Div {

  width: 30%;
  height: 100%;
  padding-top: 23%;
  padding-right: 0.1%;

  backdrop-filter: blur(40px);

  -webkit-mask: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
  -webkit-mask-clip: text, padding-box;
  -webkit-mask-composite: xor; 
  -webgit-mask-composite: exclude;
  background: rgb(0 0 0/12%);
  
  font-size: 10rem;
  font-weight: 1000;
  font-variant: normal;
  font-family: "Audiowide", serif;
  text-align: right;
}

.HP_Righ_Div{

  padding-top: 28%;
  padding-left: 0.1%;
  
  color: #fff;
  font-size: 10rem;
  font-weight: 1000;
  font-variant: normal;
  font-family: "Audiowide", serif;
}