
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');


/* Page CSS */

.Tyre_Stint_Page_Main_Div{

  background-color: #212529;

  display: flex;
  flex-direction: row;

  width: 99vw;
  height: 94vh;

}

/* Graph Control CSS */


.Tyre_Stint_Page_Main_Div > .Graph_Control_Div{

  padding-top: 6vh;
}

.Tyre_Stint_Page_Main_Div > .Graph_Control_Div > .Title_Area_Div{

  padding-top: 1vh;
  padding-left: 4vw;

  width: 44vw;
  height: 24vh;

  color: #CED4DA;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Electrolize", sans-serif;
}

.Tyre_Stint_Page_Main_Div > .Graph_Control_Div > .Title_Area_Div > .Title_Area_Text_Div{
  margin-top: 4vh;
  margin-left: 2vw;
  
  padding-right: 3vw;

}


.Tyre_Stint_Page_Main_Div > .Graph_Control_Div > .Selection_Area_Div{

  width: 44vw;
  height: 8vh;

  padding-top: 1vh;
  padding-bottom: 1vh;

  display: flex;
  flex-direction: row;

  font-weight: 400;
  font-style: normal;
  font-family: "Electrolize", sans-serif;

}


.Tyre_Stint_Page_Main_Div > .Graph_Control_Div > .Selection_Area_Div > .Select_Div{
  
  font-size: 18px;

  width: 30%;
  height: 80%;

  padding-top: 0.5% ;
  margin-left: 3%;

  display: flex;
  flex-direction: row;

  color: #E9ECEF;
  background-color: #30353A;
  border-radius: 4mm;


}

.Tyre_Stint_Page_Main_Div > .Graph_Control_Div > .Selection_Area_Div > .Season{
  margin-left: 15%;
}

.Tyre_Stint_Page_Main_Div > .Graph_Control_Div > .Selection_Area_Div > .Race{
  width: 45%;
}


.Select_Title_Span{

  width: 30%;
  font-size: 18px;

  margin-left: 2%;



}

.Season_Select_Box{

  text-align: center;
  text-align-last: center; 

  color: #E9ECEF;
  border-color: #30353A ;
  background-color: #30353A;
  

  width: 60%;
  height: 80%;

}

.Race_Select_Box{

  color: #E9ECEF;
  border-color: #30353A ;
  background-color: #30353A;


  width: 90%;
  height: 80%;

  margin-right: 3%;

}


.Options_Area_Div{
  width: 97vw;
  height: 8vh;

  margin-top: 1vh;
  padding-left: 20vw;

}


.Tyre_Stint_Button{

  border-radius: 3mm;
  border-style: solid;
  border-color: #30353A;

  background-color: #212529;

  color: #E9ECEF;

  width: 12% ;
  height: 45%;
  margin-left: 15% ;

}

.Track_Sector_Button{

  border-radius: 3mm;
  border-style: solid;
  border-color: #30353A;

  background-color: #212529;

  color: #E9ECEF;

  width: 12% ;
  height: 45%;
  margin-left: 3vh ;

}


.Selected{

  background-color: #30353A;

}


/* Graph Area CSS */


.Tyre_Stint_Page_Main_Div > .Graph_Area_Div > .Graph_Div{

  margin-top: 10vh;
  width: 45vw;
  display: flex;
  flex-direction: column;
}

.Tyre_Stint_Page_Main_Div > .Graph_Area_Div > .Graph_Div > .Graph_Legend_Div{
  
  width: 100% ;
  display: flex;

  margin-bottom: 1vh;
  font-size: 14px;
  color: #E9ECEF ;
  justify-content: right;
}


.plot-container{

  border-radius: 8mm;
  background-color: #30353A;
  box-shadow: 8px 8px 8px #090A0B;

}

.main-svg{
  background-color: transparent !important ;
}


.xtick{
  fill: #E9ECEF !important ; 
  
}
