
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');


/* Page CSS */

.TS_Main_Div{

  background-color: #212529;

  display: flex;
  flex-direction: row;

}

/* Graph Control CSS */


.TS_Control_Div{

  padding-top: 6vh;
}

.TS_Info_Area_Div{

  padding-top: 1vh;
  padding-left: 4vw;

  width: 44vw;
  height: 24vh;

  color: #CED4DA;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Electrolize", sans-serif;
}

.TS_Info_Div{
  margin-top: 4vh;
  margin-left: 2vw;
  
  padding-right: 3vw;

}


.TS_Selection_Area_Div{

  width: 44vw;
  height: 8vh;

  padding-top: 1vh;
  padding-bottom: 1vh;

  display: flex;
  flex-direction: row;

  font-weight: 400;
  font-style: normal;
  font-family: "Electrolize", sans-serif;

}


.TS_Select_Div{
  
  font-size: 18px;

  width: 30%;
  height: 80%;

  padding-top: 0.5% ;
  margin-left: 3%;

  display: flex;
  flex-direction: row;

  color: #E9ECEF;
  background-color: #30353A;
  border-radius: 4mm;


}

.TS_Season{
  margin-left: 15%;
}

.TS_Race{
  width: 45%;
}


.TS_Select_Title_Span{

  width: 30%;
  font-size: 18px;

  margin-left: 5%;

}

.TS_Season_Select_Box{

  text-align: center;
  text-align-last: center; 
  font-size: large;

  color: #E9ECEF;
  border-color: #30353A ;
  background-color: #30353A;
  
  width: 50%;
  height: 80%;
  margin-top: 1%;

}

.TS_Race_Select_Box{

  color: #E9ECEF;
  border-color: #30353A ;
  background-color: #30353A;

  text-align: center;
  text-align-last: center; 
  font-size: large;

  width: 90%;
  height: 80%;

  margin-right: 3%;
  margin-top: 1%;


}



/* Graph Area CSS */


.TS_Graph_Area_Div{

  margin-top: 10vh;
  width: 45vw;
  display: flex;
  flex-direction: column;
}

.TS_Graph_Area_Div > .Graph_Legend_Div{
  
  width: 100% ;
  display: flex;

  margin-bottom: 1vh;
  font-size: 14px;
  color: #E9ECEF ;
  justify-content: right;
}


.plot-container{

  border-radius: 8mm;
  background-color: #30353A;
  box-shadow: 8px 8px 8px #090A0B;

}

.main-svg{
  background-color: transparent !important ;
}


.xtick{
  fill: #E9ECEF !important ; 
  
}
