

.App_Div{

  padding-top: 1vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;

  background-color: #212529;
  height: 100vh;
  width: 100vw;

}


.Nav_Bar{
  background-color: #CED4DA;
  border-radius: 3mm;

  width: 99vw;
  height: 5vh;


}

.nav-item{

  color: #212529;;

}



.Is_Active{
  border-width: 1px;
  background-color: aqua;
}