@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

.Nav_Bar{
  
  right: 0;
  z-index: 5;
  position: fixed;

  display: flex;
  flex-direction: row;
  align-items: center;

  width: 95vw;
  height: 5vh;
  border-radius: 3mm;
  background-color: transparent;
  margin-left: 2.5%;

}

.Nav_Bar_Item{

  color: #212529;

  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  font-family: "Funnel Display", serif;

  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vh;
  text-decoration: none;
}

.Space_Bar{
  width: 45%;
}

.Nav_Bar_Img_Item{
  width: 3%;
  padding-left: 2%;
  opacity: 0.6;

}

.Nav_Bar_Item:hover{
  text-decoration: underline ;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 1024px) {

  .Nav_Bar_Item {
    font-size: 1rem;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }
  
  .Nav_Bar_Img_Item {
    width: 4%;
  }
}

@media screen and (max-width: 780px) {
  .Nav_Bar_Item {
    font-size: 0.8rem;
    padding-left: 1vw;
    padding-right: 1vw;
  }
  
  
  .Nav_Bar_Img_Item {
    width: 5%;
  }
}


