


.Nav_Bar{
  
  display: flex;
  flex-direction: row;

  width: 99vw;
  height: 5vh;
  
  border-radius: 3mm;
  background-color: #CED4DA;

}

.Nav_Bar_Item{

  color: #212529;
  margin-top: 1.5vh;
  padding-left: 1vw;
  margin-bottom: 0.5vh;
  text-decoration: none;
}

.Nav_Bar_Item:hover{
  text-decoration: underline ;
}



.Is_Active{
  border-width: 1px;
  background-color: aqua;
}